* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.theme{

  color: #328b87;
  color: #0e3642;
  color: #fdfefe;
  color: #9da3a3;
  color: #e9faf9;
}
main {
  background-color: #e9faf9;

  padding-bottom: 3%;
}
.head {
  color: #0e3642;
}
.nav a {
  color: #9da3a3;
}
.nav a:hover {
  color: #6f7474;
}
.nav a:visited {
  color: #6f7474;
}
.col .nav .contact {
  color: #fdfefe;
  background-color: #328b87;
}
.font {
  color: #9da3a3;
  font-size: 0.76rem;
  text-wrap: nowrap;
}

.mo a,
.menu a {
  text-decoration: none;

  font-weight: 500;

  color: #0e3642;
}
.menu label {
  width: 15%;
}
.menu .col {
  width: 75%;
}

.pop {
  background-color: #fdfefe;

  padding: 10px;
}

main .search,
main .search:hover {
  background-color: #328b87;
  color: #fdfefe;
  width: 120px;
  height: 50px;
  align-self: center;
}
main .menu {
  margin-top: -6%;
}
.menu .font {
  font-weight: bold;
}
main .btn-outline-light {
  border: none;
  background-color: #e1f0ef;
}

.card_head:hover {
  border-radius: 0.375rem;
  border-color: rgb(50, 139, 135);
  border-style: solid;
  border-width: 0.02rem;
}
footer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.card_head {
  background-color: #fafbfb;
}
.card_title {
  color: #0e3642;
  font-weight: 500;
}


@media (max-width: 995px) {
  main .row .col {
    display: flex;
    flex-wrap: wrap;

    text-align: center;

    overflow: hidden;
  }
  main img {
    width: 100%;
  }
  main h1 {
    margin-top: 3%;
  }
  main .menu {
    margin-top: 4%;
  }
  main .second {
    color: #9da3a3;
    margin: auto;

    text-align: start;
  }

  main span .font {
    margin: 0;
  }
  main select option {
    font-size: 0.66rem;
  }
  .menu label, .menu .col {
    width: fit-content;
  }
 

  header .nav {
    display: grid;
  }
  header .row {
    display: grid;
    justify-content: center;
    width: 100%;
    text-wrap: nowrap;
  }
  footer .row .col {
    flex-wrap: wrap;
  }
}
